<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        let status = '<%- JSON.stringify(status) %>';
        if(JSON.parse(status) == "Verified") {
            if(confirm("Password has been reset. Go back to PetMap?")){
                window.location.href = "http://localhost:3000/";
            } else {
                window.location.href = "";
            }
        }
    </script>
</head>
<body>
    <h1><%= email%></h1>
    <form action="" method="post">
        <input type="password" name="password" id="password" placeholder="Password" /><br />
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password"/><br />
        <input type="submit" value="submit"/>
    </form>
</body>
</html>